{% extends "base.html" %}

{% block title %}Про автора{% endblock %}

{% block content %}
    <h1>Про автора</h1>
    <ul class="author-info">
        <li><strong>Ім'я:</strong> Іван Бондарчук</li>
        <li><strong>Місто:</strong> Харків</li>
        <li><strong>Навички:</strong> Python, Html, Css, Python, C#, Qa, Pm, Internet Marketing, Java, Smm, Ui/Ux, Java Script</li>
        <li><strong>Контакти:</strong> <a href="mailto:example@email.com">example@email.com</a></li>
    </ul>
{% endblock %}